// mixins
hover-state(height = 100%, bottom = 0, hoverColor = $accentColorHover)
  &:before
    content ''
    position absolute
    left 0
    right 0
    background-color hoverColor
    bottom bottom
    height 0%
    transition all .1s ease-in-out
    border-radius 2px

  &:hover
    -webkit-text-fill-color inherit

    &:before
      height height
      z-index -1

.button
  border 2px solid $grey20
  padding .4rem 1rem
  border-radius .5rem
  text-decoration none
  font-size 1.4rem
  color $grey
  position relative
  z-index 1

  hover-state()

  &:hover
    border-color $accentColor
    color $grey60

.tag-link
  font-size 1.6rem
  color $grey30
  padding 4px
  text-decoration none
  border-radius 14px
  position relative
  z-index 1

  hover-state(80%, 2px)

  &:hover
    color $grey

    &:before
      background-color $accentColorHover