.button
  border 2px solid $grey20
  padding .4rem 1rem
  border-radius .5rem
  text-decoration none
  // background-color lighten($grey, 70)
  font-size 1.4rem
  color $grey

  &:hover
    // background-color $grey10
    border-color $grey30
    color $grey60
    background-color lighten($grey, 70)