ul.pagination
  
  > li

    > a,
    > span
      margin 0 1px
      border-radius .4rem
      background-color white
      color $grey40
      border 2px solid transparent
      font-size 1.6rem
      position relative
      z-index 1
      
      &:before
        transition all .12s ease-in-out
        position absolute
        background-color $accentColorHover
        content ''
        bottom 0
        left 0
        right 0
        height 0%
        width 100%
        z-index -1

      &:hover,
      &:focus
        // background-color $grey10
        -webkit-text-fill-color inherit
        border-color $accentColor
        color $grey
        
        &:before
          height 100%


    
    &.active

      > a,
      > span
        background-color $grey20
        border-color $grey20
        color $grey
        
        &:before
          background none

        &:hover,
        &:focus
          color $grey60
          border-color $grey20
          // background-color white
          // color $grey40


    &.disabled

      > a,
      > span,
      > a:hover,
      > span:hover,
      > a:focus,
      > span:focus
        border-color transparent
        color $grey20
        -webkit-text-fill-color inherit
        background none

        &:before
          content none