// colors convention
$yellow = #ffe854
$cyan = #2FB2EC
$green = #4cb16b
$red = #EF2D47

// grey percentage
$grey10 = #F9FCFF
$grey20 = #E6F3FF
$grey40 = #829AB1
$grey = #67839E
$grey80 = #375675

// font-family
$fontSansSerif = "Asap", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
$fontSerif = "IBM Plex Serif", serif



$accentColor = $yellow
$textColor = $grey80
$borderColor = rgba(0,0,0,.05)
$codeBgColor = #091b2d
$arrowBgColor = #ccc

$navbarHeight = 5rem