// colors convention
$yellow = #ffe854
$cyan = #2FB2EC
$green = #4cb16b
$red = #EF2D47

// grey percentage
$grey10 = #e7f2f7
$grey20 = #C2CFD4
$grey30 = #92B4BE 
$grey40 = #547985
$grey   = #265463
$grey60 = #0B4051
$grey70 = #0A3A49
$grey80 = #072631
$grey90 = #051D24

// font-family
$fontSansSerif = "Asap", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
$fontSerif = "Literata", serif



$accentColor = $yellow
$textColor = $grey
$borderColor = $grey20
$codeBgColor = $grey90
$arrowBgColor = $grey30

$accentColorHover = lighten($accentColor, 12)

$navbarHeight = 5rem
$contentWidth = 60rem