$wrapper
  max-width "calc(%s + 10rem)" % $contentWidth 
  margin 0 auto
  background-color #FFF
  // box-shadow 0 2px 8px alpha($grey, 0.08)
  // border 1px solid $grey10
  border 1px solid transparent
  border-radius 4rem
  @media (min-width: $MQNarrow)
    padding 3rem 5rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

